doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/users/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/users/css/style.css')
    link(rel='stylesheet', href='/users/vendor/bootstrap-rtl.min.css')
    link(rel='stylesheet', href='/users/vendor/rtl.css')
    link(rel='stylesheet', href='/users/vendor/bootstrap-responsive-rtl.min.css')	
  body
    block content
    block scripts