
extends ../layout

block content
	#login-container
		form( method="post",action="/api/login")#login-form.well.span4
			h1 שלום!
			p.subheading נא תתחבר לחשבונך
			label מספר טלפון 
			input(type="text", name="user", id='user-tf').span4.required
			label סיסמה
			input(type="password", name="pass", id='pass-tf').span4.required
			button(type="submit")#btn-login.btn.btn-primary
				i.icon-lock.icon-white
				| התחברות למערכת
			label#remember-me.checkbox זכור אותי
				input(type="checkbox", checked='checked')
			div.clear-fix
			hr
			div.btm-links
				a(href='#')#forgot-password שחכת סימה?
				a(href='/signup')#create-account צור חשבון

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/users/vendor/jquery.min.js')
	script(src='/users/vendor/jquery.form.js')
	script(src='/users/vendor/bootstrap-modal.js')
	script(src='/users/vendor/bootstrap-transition.js')
	script(src='/users/js/views/login.js')
	script(src='/users/js/controllers/loginController.js')
	script(src='/users/js/form-validators/loginValidator.js')
	script(src='/users/js/form-validators/emailValidator.js')